.login-container {
    display: flex;
    min-height: 100vh;

    top: 20px;
    bottom: 30px;
    left: 0;
    right: 0;
    background-color: #ecf9fd;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow: hidden; /* stop scrollbars */
}


.login-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5% 8%;
}

.login-label {
    font-size: 1.5rem;
    font-weight: bold;
    color: #222;
    margin-bottom: 1rem;
}

.login-form {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.istyle,
.istyleu {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 6px;
    width: 100%;
    font-size: 1rem;
}

/* Password toggle */
.password-wrapper {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

/* Buttons */
.buttongroups {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btlSuccess {
    background-color: rgb(0, 171, 250);
    border: none;
    color: #fff;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s;
}

.btlSuccess:hover {
    background-color: rgb(0, 171, 250);
}

.btn-link {
    font-size: 0.9rem;
    color: #1c7ed6;
    text-decoration: none;
}

.btn-link:hover {
    text-decoration: underline;
}


.captcha-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.captcha-row {
    display: flex;
    align-items: center;
    gap: 8px;
}

.captcha-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.refresh-icon {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.refresh-icon:hover {
    transform: rotate(90deg);
}
.register-link {
    padding-left: 80px;
}


.login-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.circle-wrapper {
    position: relative;
    display: inline-block;
}


.circle {
    border-radius: 50%;
    overflow: hidden;
    border: 8px solid #fff;
    box-shadow:
        0 0 0 8px #4db8ff,
        0 4px 12px rgba(0, 0, 0, 0.3); /* shadow */
}


.circle.large {
    width: 270px;
    height: 270px;

    position: relative;
    z-index: 1;
}

/* Small circle overlapping the big one */
.circle.small {
    width: 140px;
    height: 140px;
    position: absolute;
    top: 10px;
    bottom: 20px;
    right: 50px;
    z-index: 2;
}

/* Make sure image fills circle */
.circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Responsive */
@media (max-width: 900px) {
    .login-container {
        flex-direction: column;
    }
    .login-right {
        display: none;
    }
    .login-left {
        padding: 10%;
    }
}
